sap_webservice/service/MES_wsdl/schema/pptRetCode_struct.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
    Generated from MMS_pptstr.idl
    On Thursday, November 26, 2020 3:36:05 PM CST
    by IBM CORBA 2.3 XML Schema emitter 2.30
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/IDL-Mapped/" xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" xmlns:tns="http://www.omg.org/IDL-Mapped/">
  <xsd:import namespace="http://www.omg.org/IDL-WSDL/1.0/" schemaLocation="../../corba/corba.xsd"/>
  <xsd:complexType name="pptRetCode_struct">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="transactionID" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="returnCode" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="messageID" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="messageText" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="reasonText" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="siInfo" type="corba:CORBA.Any"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>