sap_webservice/service/MES_wsdl/wsdl/CS_PPTServiceManager.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--
    Generated from MMS_pptsm.idl
    On Thursday, November 26, 2020 3:36:09 PM CST
    by IBM CORBA 2.3 WSDL emitter 2.30
--><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="CS_PPTServiceManager" targetNamespace="http://www.omg.org/IDL-Mapped/" xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.omg.org/IDL-Mapped/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:import location="../../corba/corba.wsdl" namespace="http://www.omg.org/IDL-WSDL/1.0/"/>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.omg.org/IDL-WSDL/1.0/">
      <xsd:include schemaLocation="../../corba/corba.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.omg.org/IDL-Mapped/">
      <xsd:include schemaLocation="../schema/pptUser.xsd"/>
      <xsd:include schemaLocation="../schema/objectIdentifier.xsd"/>
      <xsd:include schemaLocation="../schema/objectIdentifierSequence.xsd"/>
      <xsd:include schemaLocation="../schema/pptShipCancelReqResult.xsd"/>
      <xsd:include schemaLocation="../schema/pptShipReqResult.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CS_PPTServiceManager.TxShipReqResponse">
    <wsdl:part name="_return" type="tns:pptShipReqResult"/>
  </wsdl:message>
  <wsdl:message name="CS_PPTServiceManager.CS_PPTServiceManager_init"/>
  <wsdl:message name="CS_PPTServiceManager.TxShipCancelReqResponse">
    <wsdl:part name="_return" type="tns:pptShipCancelReqResult"/>
  </wsdl:message>
  <wsdl:message name="CS_PPTServiceManager.CS_PPTServiceManager_initResponse"/>
  <wsdl:message name="CS_PPTServiceManager.CS_PPTServiceManager_uninitResponse"/>
  <wsdl:message name="CS_PPTServiceManager.TxShipCancelReq">
    <wsdl:part name="requestUserID" type="tns:pptUser"/>
    <wsdl:part name="lotIDs" type="tns:objectIdentifierSequence"/>
    <wsdl:part name="bankID" type="tns:objectIdentifier"/>
    <wsdl:part name="claimMemo" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="CS_PPTServiceManager.TxShipReq">
    <wsdl:part name="requestUserID" type="tns:pptUser"/>
    <wsdl:part name="lotIDs" type="tns:objectIdentifierSequence"/>
    <wsdl:part name="bankID" type="tns:objectIdentifier"/>
    <wsdl:part name="claimMemo" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="CS_PPTServiceManager.CS_PPTServiceManager_uninit"/>
  <wsdl:portType name="CS_PPTServiceManager">
    <wsdl:operation name="CS_PPTServiceManager_init">
      <wsdl:input message="tns:CS_PPTServiceManager.CS_PPTServiceManager_init"/>
      <wsdl:output message="tns:CS_PPTServiceManager.CS_PPTServiceManager_initResponse"/>
      <wsdl:fault message="corba:CORBA.SystemExceptionMessage" name="CORBA.SystemException"/>
    </wsdl:operation>
    <wsdl:operation name="CS_PPTServiceManager_uninit">
      <wsdl:input message="tns:CS_PPTServiceManager.CS_PPTServiceManager_uninit"/>
      <wsdl:output message="tns:CS_PPTServiceManager.CS_PPTServiceManager_uninitResponse"/>
      <wsdl:fault message="corba:CORBA.SystemExceptionMessage" name="CORBA.SystemException"/>
    </wsdl:operation>
    <wsdl:operation name="TxShipReq">
      <wsdl:input message="tns:CS_PPTServiceManager.TxShipReq"/>
      <wsdl:output message="tns:CS_PPTServiceManager.TxShipReqResponse"/>
      <wsdl:fault message="corba:CORBA.SystemExceptionMessage" name="CORBA.SystemException"/>
    </wsdl:operation>
    <wsdl:operation name="TxShipCancelReq">
      <wsdl:input message="tns:CS_PPTServiceManager.TxShipCancelReq"/>
      <wsdl:output message="tns:CS_PPTServiceManager.TxShipCancelReqResponse"/>
      <wsdl:fault message="corba:CORBA.SystemExceptionMessage" name="CORBA.SystemException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CS_PPTServiceManagerBinding" type="tns:CS_PPTServiceManager">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CS_PPTServiceManager_init">
      <soap:operation soapAction="CS_PPTServiceManager#CS_PPTServiceManager_init"/>
      <wsdl:input>
        <soap:body namespace="http://www.omg.org/IDL-WSDL/1.0/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.omg.org/IDL-WSDL/1.0/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CORBA.SystemException">
        <soap:fault name="CORBA.SystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CS_PPTServiceManager_uninit">
      <soap:operation soapAction="CS_PPTServiceManager#CS_PPTServiceManager_uninit"/>
      <wsdl:input>
        <soap:body namespace="http://www.omg.org/IDL-WSDL/1.0/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.omg.org/IDL-WSDL/1.0/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CORBA.SystemException">
        <soap:fault name="CORBA.SystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TxShipReq">
      <soap:operation soapAction="CS_PPTServiceManager#TxShipReq"/>
      <wsdl:input>
        <soap:body namespace="http://www.omg.org/IDL-WSDL/1.0/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.omg.org/IDL-WSDL/1.0/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CORBA.SystemException">
        <soap:fault name="CORBA.SystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TxShipCancelReq">
      <soap:operation soapAction="CS_PPTServiceManager#TxShipCancelReq"/>
      <wsdl:input>
        <soap:body namespace="http://www.omg.org/IDL-WSDL/1.0/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.omg.org/IDL-WSDL/1.0/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CORBA.SystemException">
        <soap:fault name="CORBA.SystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CS_PPTServiceManager">
    <wsdl:port binding="tns:CS_PPTServiceManagerBinding" name="CS_PPTServiceManagerSOAP">
      <soap:address location="http://myhost.mydomain:80/CS_PPTServiceManager/mymarker"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>