utilslibrary/mes_webservice/MES_FILES/MMS_CS/validation/CS_PPTServiceManager.TxEqpInfoInq__160.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
    Generated from MMS_pptsm.idl
    On Monday, October 26, 2020 2:10:28 PM CST
    by IBM CORBA 2.3 XML Schema emitter 2.30
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/IDL-WSDL/1.0/" xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" xmlns:tns="http://www.omg.org/IDL-Mapped/">
  <xsd:include schemaLocation="../../corba/corba.xsd"/>
  <xsd:import namespace="http://www.omg.org/IDL-Mapped/" schemaLocation="../validation/CS_PPTServiceManager.TxEqpInfoInq__160Request.xsd"/>
  <xsd:element name="TxEqpInfoInq__160">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="requestUserID" type="tns:pptUser"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="equipmentID" type="tns:objectIdentifier"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="requestFlagForBRInfo" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="requestFlagForStatusInfo" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="requestFlagForPMInfo" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="requestFlagForPortInfo" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="requestFlagForChamberInfo" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="requestFlagForStockerInfo" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="requestFlagForInprocessingLotInfo" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="requestFlagForReservedControlJobInfo" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="requestFlagForRSPPortInfo" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="requestFlagForEqpContainerInfo" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>