utilslibrary/mes_webservice/MES_FILES/MMS_CS/validation/CS_PPTServiceManager.TxLotListInq__180.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
    Generated from MMS_pptsm.idl
    On Monday, October 26, 2020 2:10:28 PM CST
    by IBM CORBA 2.3 XML Schema emitter 2.30
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/IDL-WSDL/1.0/" xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" xmlns:tns="http://www.omg.org/IDL-Mapped/">
  <xsd:include schemaLocation="../../corba/corba.xsd"/>
  <xsd:import namespace="http://www.omg.org/IDL-Mapped/" schemaLocation="../validation/CS_PPTServiceManager.TxLotListInq__180Request.xsd"/>
  <xsd:element name="TxLotListInq__180">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="requestUserID" type="tns:pptUser"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="bankID" type="tns:objectIdentifier"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="lotStatus" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="lotType" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="productID" type="tns:objectIdentifier"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orderNumber" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="customerCode" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="manufacturingLayerID" type="tns:objectIdentifier"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="routeID" type="tns:objectIdentifier"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="operationNumber" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="bankInRequiredFlag" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="lotID" type="tns:objectIdentifier"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="requiredCassetteCategory" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="backupProcessingFlag" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="subLotType" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="deleteLotFlag" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="holdReasonCodeID" type="tns:objectIdentifier"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="sorterJobCreationCheckFlag" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="interFabXferState" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="autoDispatchControlLotFlag" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="virtualOperationFlag" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="operationID" type="tns:objectIdentifier"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>