utilslibrary/mes_webservice/MES_FILES/MMS_CS/schema/csExTIPLayerDataParmInqInParm.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
    Generated from MMS_pptstr.idl
    On Monday, October 26, 2020 2:10:17 PM CST
    by IBM CORBA 2.3 XML Schema emitter 2.30
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/IDL-Mapped/" xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" xmlns:tns="http://www.omg.org/IDL-Mapped/">
  <xsd:import namespace="http://www.omg.org/IDL-WSDL/1.0/" schemaLocation="../../corba/corba.xsd"/>
  <xsd:include schemaLocation="../schema/csExTIPLayerDataParmInqInParm_struct.xsd"/>
  <xsd:complexType name="csExTIPLayerDataParmInqInParm">
    <xsd:complexContent>
      <xsd:restriction base="tns:csExTIPLayerDataParmInqInParm_struct">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="tipNO" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="partName" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="seq" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="tone" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="tipTech" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="grade" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="orderType" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="productType" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="customerID" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="purpose" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="lotID" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="lotCreatedStatus" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="result" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="retryCnt" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="claimUserID" type="tns:objectIdentifier"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="claimTimeStamp" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="claimTimeOperator" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="siInfo" type="corba:CORBA.Any"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>