utilslibrary/mes_webservice/MES_FILES/MMS_CS/schema/pptDCSpec.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
    Generated from MMS_pptstr.idl
    On Monday, October 26, 2020 2:10:17 PM CST
    by IBM CORBA 2.3 XML Schema emitter 2.30
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/IDL-Mapped/" xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" xmlns:tns="http://www.omg.org/IDL-Mapped/">
  <xsd:import namespace="http://www.omg.org/IDL-WSDL/1.0/" schemaLocation="../../corba/corba.xsd"/>
  <xsd:include schemaLocation="../schema/pptDCSpec_struct.xsd"/>
  <xsd:complexType name="pptDCSpec">
    <xsd:complexContent>
      <xsd:restriction base="tns:pptDCSpec_struct">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="dataItemName" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="screenLimitUpperRequired" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="screenLimitUpper" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="actionCodes_uscrn" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="screenLimitLowerRequired" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="screenLimitLower" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="actionCodes_lscrn" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="specLimitUpperRequired" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="specLimitUpper" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="actionCodes_usl" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="specLimitLowerRequired" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="specLimitLower" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="actionCodes_lsl" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="controlLimitUpperRequired" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="controlLimitUpper" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="actionCodes_ucl" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="controlLimitLowerRequired" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="controlLimitLower" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="actionCodes_lcl" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="target" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="tag" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="siInfo" type="corba:CORBA.Any"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>