utilslibrary/mes_webservice/MES_FILES/MMS_CS/schema/pptDCItem.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
    Generated from MMS_pptstr.idl
    On Monday, October 26, 2020 2:10:17 PM CST
    by IBM CORBA 2.3 XML Schema emitter 2.30
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/IDL-Mapped/" xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" xmlns:tns="http://www.omg.org/IDL-Mapped/">
  <xsd:import namespace="http://www.omg.org/IDL-WSDL/1.0/" schemaLocation="../../corba/corba.xsd"/>
  <xsd:include schemaLocation="../schema/pptDCItem_struct.xsd"/>
  <xsd:complexType name="pptDCItem">
    <xsd:complexContent>
      <xsd:restriction base="tns:pptDCItem_struct">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="dataCollectionItemName" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dataCollectionMode" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dataCollectionUnit" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dataType" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="itemType" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="measurementType" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="waferID" type="tns:objectIdentifier"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="waferPosition" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="sitePosition" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="historyRequiredFlag" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="calculationType" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="calculationExpression" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dataValue" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="targetValue" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="specCheckResult" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="actionCode" type="tns:stringSequence"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="siInfo" type="corba:CORBA.Any"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>