utilslibrary/mes_webservice/MES_FILES/MMS_CS/schema/pptDCActionResultInfo.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
    Generated from MMS_pptstr.idl
    On Monday, October 26, 2020 2:10:18 PM CST
    by IBM CORBA 2.3 XML Schema emitter 2.30
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/IDL-Mapped/" xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" xmlns:tns="http://www.omg.org/IDL-Mapped/">
  <xsd:import namespace="http://www.omg.org/IDL-WSDL/1.0/" schemaLocation="../../corba/corba.xsd"/>
  <xsd:include schemaLocation="../schema/pptDCActionResultInfo_struct.xsd"/>
  <xsd:complexType name="pptDCActionResultInfo">
    <xsd:complexContent>
      <xsd:restriction base="tns:pptDCActionResultInfo_struct">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="lotID" type="tns:objectIdentifier"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="monitorLotFlag" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dcDefID" type="tns:objectIdentifier"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dcSpecID" type="tns:objectIdentifier"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="checkType" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="reasonCode" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="actionCode" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="correspondingObjrefPO" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="bankID" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="reworkRouteID" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="entities" type="tns:pptEntityIdentifierSequence"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="siInfo" type="corba:CORBA.Any"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>