utilslibrary/mes_webservice/MES_FILES/MMS_CS/schema/pptEqpPortStatus_struct.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
    Generated from MMS_pptstr.idl
    On Monday, October 26, 2020 2:10:18 PM CST
    by IBM CORBA 2.3 XML Schema emitter 2.30
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/IDL-Mapped/" xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" xmlns:tns="http://www.omg.org/IDL-Mapped/">
  <xsd:import namespace="http://www.omg.org/IDL-WSDL/1.0/" schemaLocation="../../corba/corba.xsd"/>
  <xsd:include schemaLocation="../schema/objectIdentifier.xsd"/>
  <xsd:include schemaLocation="../schema/pptLotOnPortSequence.xsd"/>
  <xsd:include schemaLocation="../schema/stringSequence.xsd"/>
  <xsd:complexType name="pptEqpPortStatus_struct">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="portID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="associatedPortID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="portGroup" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="loadSequenceNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="portUsage" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="loadPurposeType" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="operationModeID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="portState" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="loadResrvedCassetteID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dispatchState" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dispatchState_TimeStamp" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="loadedCassetteID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dispatchLoadCassetteID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dispatchUnloadCassetteID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="cassetteLoadPurposeType" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="cassetteControlJobID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="operationMode" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="onlineMode" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dispatchMode" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="accessMode" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="operationStartMode" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="operationCompMode" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="strLotOnPort" type="tns:pptLotOnPortSequence"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="cassetteCategoryCapability" type="tns:stringSequence"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="siInfo" type="corba:CORBA.Any"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>