utilslibrary/mes_webservice/MES_FILES/MMS_CS/schema/pptEqpStockerStatus_struct.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
    Generated from MMS_pptstr.idl
    On Monday, October 26, 2020 2:10:18 PM CST
    by IBM CORBA 2.3 XML Schema emitter 2.30
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/IDL-Mapped/" xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" xmlns:tns="http://www.omg.org/IDL-Mapped/">
  <xsd:import namespace="http://www.omg.org/IDL-WSDL/1.0/" schemaLocation="../../corba/corba.xsd"/>
  <xsd:include schemaLocation="../schema/objectIdentifier.xsd"/>
  <xsd:complexType name="pptEqpStockerStatus_struct">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="stockerID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="stockerType" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="stockerStatus" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="stockerPriority" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="E10status" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="UTSFlag" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="maxUTSCapacity" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="siInfo" type="corba:CORBA.Any"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>