utilslibrary/mes_webservice/MES_FILES/MMS_CS/schema/pptEqpContainerPosition_struct.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
    Generated from MMS_pptstr.idl
    On Monday, October 26, 2020 2:10:18 PM CST
    by IBM CORBA 2.3 XML Schema emitter 2.30
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/IDL-Mapped/" xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" xmlns:tns="http://www.omg.org/IDL-Mapped/">
  <xsd:import namespace="http://www.omg.org/IDL-WSDL/1.0/" schemaLocation="../../corba/corba.xsd"/>
  <xsd:include schemaLocation="../schema/objectIdentifier.xsd"/>
  <xsd:complexType name="pptEqpContainerPosition_struct">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="containerPositionID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="controlJobID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="processJobID" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="lotID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="waferID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="srcCassetteID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="srcPortID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="srcSlotNo" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="SLMState" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="destCassetteID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="destPortID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="destSlotNo" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="estimatedProcessEndTime" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="processStartTime" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="processCompleteTime" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="lastClaimedTimeStamp" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="lastClaimedUserID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="siInfo" type="corba:CORBA.Any"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>