utilslibrary/mes_webservice/MES_FILES/MMS_CS/schema/pptEntityInhibitAttributes_struct.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
    Generated from MMS_pptstr.idl
    On Monday, October 26, 2020 2:10:17 PM CST
    by IBM CORBA 2.3 XML Schema emitter 2.30
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/IDL-Mapped/" xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" xmlns:tns="http://www.omg.org/IDL-Mapped/">
  <xsd:import namespace="http://www.omg.org/IDL-WSDL/1.0/" schemaLocation="../../corba/corba.xsd"/>
  <xsd:include schemaLocation="../schema/pptEntityIdentifierSequence.xsd"/>
  <xsd:include schemaLocation="../schema/stringSequence.xsd"/>
  <xsd:include schemaLocation="../schema/objectIdentifier.xsd"/>
  <xsd:complexType name="pptEntityInhibitAttributes_struct">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="entities" type="tns:pptEntityIdentifierSequence"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="subLotTypes" type="tns:stringSequence"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="startTimeStamp" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="endTimeStamp" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="reasonCode" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="reasonDesc" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="memo" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="ownerID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="claimedTimeStamp" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="siInfo" type="corba:CORBA.Any"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>