utilslibrary/mes_webservice/MES_FILES/MMS_CS/schema/pptLotProductInfo__101.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
    Generated from MMS_pptstr.idl
    On Monday, October 26, 2020 2:10:18 PM CST
    by IBM CORBA 2.3 XML Schema emitter 2.30
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/IDL-Mapped/" xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" xmlns:tns="http://www.omg.org/IDL-Mapped/">
  <xsd:import namespace="http://www.omg.org/IDL-WSDL/1.0/" schemaLocation="../../corba/corba.xsd"/>
  <xsd:include schemaLocation="../schema/pptLotProductInfo__101_struct.xsd"/>
  <xsd:complexType name="pptLotProductInfo__101">
    <xsd:complexContent>
      <xsd:restriction base="tns:pptLotProductInfo__101_struct">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="productID" type="tns:objectIdentifier"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="productType" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="productGroupID" type="tns:objectIdentifier"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="technologyCode" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="manufacturingLayer" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="reticleSetID" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="bomID" type="tns:objectIdentifier"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="siInfo" type="corba:CORBA.Any"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>