utilslibrary/mes_webservice/MES_FILES/MMS_CS/schema/pptLotInCassette.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
    Generated from MMS_pptstr.idl
    On Monday, October 26, 2020 2:10:17 PM CST
    by IBM CORBA 2.3 XML Schema emitter 2.30
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/IDL-Mapped/" xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" xmlns:tns="http://www.omg.org/IDL-Mapped/">
  <xsd:import namespace="http://www.omg.org/IDL-WSDL/1.0/" schemaLocation="../../corba/corba.xsd"/>
  <xsd:include schemaLocation="../schema/pptLotInCassette_struct.xsd"/>
  <xsd:complexType name="pptLotInCassette">
    <xsd:complexContent>
      <xsd:restriction base="tns:pptLotInCassette_struct">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="operationStartFlag" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="monitorLotFlag" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="lotID" type="tns:objectIdentifier"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="lotType" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="subLotType" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="strStartRecipe" type="tns:pptStartRecipe"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="recipeParameterChangeType" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="strLotWafer" type="tns:pptLotWaferSequence"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="productID" type="tns:objectIdentifier"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="strStartOperationInfo" type="tns:pptStartOperationInfo"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="siInfo" type="corba:CORBA.Any"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>