utilslibrary/mes_webservice/MES_FILES/MMS_CS/schema/pptReticlePodPortInfo.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
    Generated from MMS_pptstr.idl
    On Monday, October 26, 2020 2:10:18 PM CST
    by IBM CORBA 2.3 XML Schema emitter 2.30
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/IDL-Mapped/" xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" xmlns:tns="http://www.omg.org/IDL-Mapped/">
  <xsd:import namespace="http://www.omg.org/IDL-WSDL/1.0/" schemaLocation="../../corba/corba.xsd"/>
  <xsd:include schemaLocation="../schema/pptReticlePodPortInfo_struct.xsd"/>
  <xsd:complexType name="pptReticlePodPortInfo">
    <xsd:complexContent>
      <xsd:restriction base="tns:pptReticlePodPortInfo_struct">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="reticlePodPortID" type="tns:objectIdentifier"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="eqpCategory" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="accessMode" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="portStatus" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="portStatusChangeTimestamp" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="portStatusChangeUserID" type="tns:objectIdentifier"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="loadedReticlePodID" type="tns:objectIdentifier"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="reservedReticlePodID" type="tns:objectIdentifier"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="transferReserveStatus" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="transferReserveTimestamp" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dispatchStatus" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dispatchTimestamp" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="siInfo" type="corba:CORBA.Any"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>