utilslibrary/mes_webservice/MES_FILES/MMS_CS/schema/pptStartRecipe_struct.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
    Generated from MMS_pptstr.idl
    On Monday, October 26, 2020 2:10:17 PM CST
    by IBM CORBA 2.3 XML Schema emitter 2.30
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/IDL-Mapped/" xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" xmlns:tns="http://www.omg.org/IDL-Mapped/">
  <xsd:import namespace="http://www.omg.org/IDL-WSDL/1.0/" schemaLocation="../../corba/corba.xsd"/>
  <xsd:include schemaLocation="../schema/objectIdentifier.xsd"/>
  <xsd:include schemaLocation="../schema/pptStartReticleSequence.xsd"/>
  <xsd:include schemaLocation="../schema/pptStartFixtureSequence.xsd"/>
  <xsd:include schemaLocation="../schema/pptDCDefSequence.xsd"/>
  <xsd:complexType name="pptStartRecipe_struct">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="logicalRecipeID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="machineRecipeID" type="tns:objectIdentifier"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="physicalRecipeID" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="strStartReticle" type="tns:pptStartReticleSequence"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="strStartFixture" type="tns:pptStartFixtureSequence"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dataCollectionFlag" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="strDCDef" type="tns:pptDCDefSequence"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="siInfo" type="corba:CORBA.Any"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>